# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.env
.venv/

# =========================
# OS Files
# =========================
.DS_Store

# =========================
# Project temp files
# =========================
uploads/
repos/
*.log

# =========================
# IDE files (optional but recommended)
# =========================
.vscode/
.idea/